Repository secdev/scapy, pull requests merged in 2021-09, with the labels that each got.

#3348 Fix FFDH for scapy
  scapy/compat.py
  scapy/layers/tls/crypto/groups.py
  scapy/layers/tls/keyexchange_tls13.py
  test/tls.uts
Labels: bug, tls

#3365 Fix do_copy() of class Field
  scapy/fields.py
  test/regression.uts
Labels: bug

#3363 Loopback: fix & documentation
  doc/scapy/troubleshooting.rst
  scapy/layers/inet6.py
Labels: bug, doc, platform-specific

#3362 name is a reserved Field name
  doc/scapy/build_dissect.rst
Labels: doc

#3367 Add timeout to UTscapy
  scapy/tools/UTscapy.py
Labels: tests

#3360 Unbreak LaTeX output
  scapy/themes.py
  scapy/tools/UTscapy.py
Labels: tests

#3368 Fix OSCP payload length
  scapy/layers/tls/handshake.py
  test/tls.uts
Labels: tls

#3349 BGP: support additional path & fix dissection bug
  scapy/contrib/bgp.py
  scapy/fields.py
  scapy/packet.py
  test/contrib/bgp.uts
Labels: bug
