Repository secdev/scapy, pull requests merged in 2021-12, with the labels that each got.

#3417 Add LDAP support
  scapy/asn1/ber.py
  scapy/asn1fields.py
  scapy/layers/ldap.py
  test/scapy/layers/ldap.uts
Labels: new layer

#3464 Cleanup SMB2
  scapy/fields.py
  scapy/layers/ntlm.py
  scapy/layers/smb2.py
  test/fields.uts
  test/scapy/layers/smb.uts
  test/scapy/layers/smb2.uts
Labels: cleanup

#3488 Unify ISOTP addresses
  doc/scapy/layers/automotive.rst
  scapy/contrib/automotive/ecu.py
  scapy/contrib/automotive/gm/gmlanutils.py
  scapy/contrib/isotp/isotp_native_socket.py
  scapy/contrib/isotp/isotp_packet.py
  scapy/contrib/isotp/isotp_scanner.py
  scapy/contrib/isotp/isotp_soft_socket.py
  scapy/contrib/isotp/isotp_utils.py
  test/contrib/automotive/ecu.uts
  test/contrib/automotive/gm/scanner.uts
  test/contrib/automotive/scanner/uds_scanner.uts
  test/contrib/isotp_message_builder.uts
  test/contrib/isotp_native_socket.uts
  test/contrib/isotp_packet.uts
  test/contrib/isotp_soft_socket.uts
  test/contrib/isotpscan.uts
  test/tools/isotpscanner.uts
Labels: cleanup

#3495 Update readthedocs config
  .readthedocs.yml
Labels: doc
